In [1]:
x = 5

if x == 5:
    x
else:
    x = x + 1
    x
x

5

In [2]:
import numpy as np

myList = np.arange(10, 20, 0.4)
myList

array([10. , 10.4, 10.8, 11.2, 11.6, 12. , 12.4, 12.8, 13.2, 13.6, 14. ,
       14.4, 14.8, 15.2, 15.6, 16. , 16.4, 16.8, 17.2, 17.6, 18. , 18.4,
       18.8, 19.2, 19.6])

In [3]:
myTuple = ("abc", np.arange(3, 10, 0.4), 2.5)

myTuple[1]

array([3. , 3.4, 3.8, 4.2, 4.6, 5. , 5.4, 5.8, 6.2, 6.6, 7. , 7.4, 7.8,
       8.2, 8.6, 9. , 9.4, 9.8])

In [4]:
import numpy as np
import pandas as pd

# Tạo data frame gồm ba cột time, x, y
time = np.arange(0, 10, 0.1)
x = np.sin(time)
y = np.cos(time)
df = pd.DataFrame({'time': time, 'x': x, 'y': y})
print(df)

    time         x         y
0    0.0  0.000000  1.000000
1    0.1  0.099833  0.995004
2    0.2  0.198669  0.980067
3    0.3  0.295520  0.955336
4    0.4  0.389418  0.921061
..   ...       ...       ...
95   9.5 -0.075151 -0.997172
96   9.6 -0.174327 -0.984688
97   9.7 -0.271761 -0.962365
98   9.8 -0.366479 -0.930426
99   9.9 -0.457536 -0.889191

[100 rows x 3 columns]

In [5]:
df.head(3) #3 dòng đầu tiên

   time         x         y
0   0.0  0.000000  1.000000
1   0.1  0.099833  0.995004
2   0.2  0.198669  0.980067

In [9]:
df.tail(3) #3 dòng cuối

    time         x         y
97   9.7 -0.271761 -0.962365
98   9.8 -0.366479 -0.930426
99   9.9 -0.457536 -0.889191

In [6]:
df['time'] #cột time

0     0.0
1     0.1
2     0.2
3     0.3
4     0.4
     ...
95    9.5
96    9.6
97    9.7
98    9.8
99    9.9
Name: time, Length: 100, dtype: float64

In [7]:
df[['time', 'x']] #cột time và x

    time         x
0    0.0  0.000000
1    0.1  0.099833
2    0.2  0.198669
3    0.3  0.295520
4    0.4  0.389418
..   ...       ...
95   9.5 -0.075151
96   9.6 -0.174327
97   9.7 -0.271761
98   9.8 -0.366479
99   9.9 -0.457536

[100 rows x 2 columns]

In [8]:
df[3:5] #cột 3-4

   time         x         y
3   0.3  0.295520  0.955336
4   0.4  0.389418  0.921061

In [10]:
import pandas as pd
import numpy as np
data=pd.read_csv('babies.txt',sep='\t')
print(data)

     bwt smoke
0      120   0
1      113   0
2      128   1
3      123   0
4      108   1
...        ...
1231   113   0
1232   128   0
1233   130   1
1234   125   0
1235   117   0

[1236 rows x 1 columns]

In [11]:
#đọc dữ liệu từ file với khoảng trắng làm dấu phân cách
data=pd.read_csv('babies.txt', delim_whitespace=True)

#chọn cột mong muốn
df_data=data[['bwt','smoke']]

#in dữ liệu
print(df_data)

      bwt  smoke
0     120      0
1     113      0
2     128      1
3     123      0
4     108      1
...   ...    ...
1231  113      0
1232  128      0
1233  130      1
1234  125      0
1235  117      0

[1236 rows x 2 columns]

C:\Users\Admin\AppData\Local\Temp\ipykernel_17496\2561705899.py:2: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  data=pd.read_csv('babies.txt', delim_whitespace=True)

In [13]:
df_cohutthuoc=data[data['smoke']==1]
print(df_cohutthuoc)

      bwt  smoke
2     128      1
4     108      1
9     143      1
11    144      1
12    141      1
...   ...    ...
1224  143      1
1225  113      1
1226  109      1
1227  103      1
1233  130      1

[484 rows x 2 columns]

In [14]:
df_khonghutthuoc=data[data['smoke']==0]
print(df_khonghutthuoc)

      bwt  smoke
0     120      0
1     113      0
3     123      0
5     136      0
6     138      0
...   ...    ...
1230  132      0
1231  113      0
1232  128      0
1234  125      0
1235  117      0

[742 rows x 2 columns]

In [15]:
arr_cohutthuoc=df_cohutthuoc['bwt'].to_numpy()
print(arr_cohutthuoc)

[128 108 143 144 141 110  92 115 119 115 103 114 114 134 122 138  87 143
 145 108 124 122 101 128 104 137 103 133  91 153  99 114 129 125 114  85
  87 120 107 119 103  91  95 141 100 115  94 101 112 128  93 100 105 160
 113 129 118 133 116 113 131 121 122 101 113 131  96 142  75 125 104 118
  98 150 119 101 113  97 115 121 117 110 130 140 111 154 122 144 114 111
 154 150  99 117 130  81 124 125 115 104 119 123 141 129 119 109 104 110
  98 136 121  91  85 106 109  98 101  71 124  93 101 100 104 117 117 117
 109 120 103 123 104 122 116 129 133 122 133 130 106 121 140 120 127  71
 107 129 145 102 129 135 104 126 127  98 131  99 115 102 143  87 130 123
 116 144 120 116 112 132 146 119 100 118 129 122 117 144 115  99  68 102
 109 102  99 128 101 109 117  88  95 119 127 107 126  98  96  93 101 130
 125 132  69 114 123 129 114 119 119 131 114 110 103 117 126 132 101 114
 108 123 113  93 130 111  97 107 105 133 161 115 127 128 117 119  91 116
 126  98 103 117 115 118 144  85 130 117 135 115 123 154 110 104 123 129
 108 103 127 107 106 152 136 123  93 109 120 129 125  96 138 114 127 113
  99  97 126 119 117 131 118 109 131 134 128  86 115 141 100 114 120  95
  90 131 103 144  86 136  92 129 105 125 115 111 143 116 110  87 132 105
 123 104  96  83  86 110  84 123  96 117 125 114  96 107  98 107 144 136
 125 100  88  77  93 109 145  92 111 134 100 134 145 126 119 103 116 102
 121 100 116  86  87  88  96 112 115 122 127  90  58 109 142 115 163  77
 124 102  94 112 119  97 115 144  99 106 121 123 139 105 146 122 138 120
 119 105 123 103 105 139 104 118  99 121 125 100 117 122 118 137 120 108
 131 105  78 111  75  94 145 109 115 120  96 102  91 155 109  80  94 148
 123  65 108 103 105 100 115  91 112 119 126 100  96 131 108 113 133 127
 102 120  98 104 122  99 117 106 156  72  75  97  91 117 130 114 160  84
 130  71  82 124 138  88  82  97 116 132 119 106 103 112  96 102 120  97
  97 127  87 141 116  75 152  81 114 124 115 143 113 109 103 130]

In [16]:
arr_khonghutthuoc=df_khonghutthuoc['bwt'].to_numpy()
print(arr_khonghutthuoc)

[120 113 123 136 138 132 120 140 114 115 144 105 137 122 131 146 125 122
  93 130 119 113 134 107 128 129 110 111 155 110 122 115 102 143 146 124
 145 106  75 107 124  97 142 130 156 120 127 121 120 149 129 139 138 138
 131 128 134 114  92 135 125 128 105 119 116 133 155 126 129 137 125 134
 118 131 121 131 118 152 121 117 112 109 132 117 128 117 134 127 122 147
 120 144 136 102 126 126 115 127 119 123 105 134 144 111 125 135 134 129
 121 138 136 120 134 112 132 136  96 124 113 137 133 107 136 130  90 123
 137 101 142 124 151 109 131 127 117 150  85 128 105 107 119 134 117 115
  93 125  93 129 126  85 173 111 126 122 141 142 113 149 128 125 114 116
 125 110 138 142 102 140 133 127 152 143 131 113 131 148 137 117 115 132
 119 132  80 111 143 136 110 108 106 149 135 110 121 142 104 138 112 131
 116 140 120 139 131 111 110 105  93 104 120 118 114 116 129 107  88 122
 106 135 107 126 116 124 123  98 110 101  96 100 154 127 126 127 129 132
 127 145 136 121 121 120 118 127 132 102 118 102 163 132 116 138 139 132
 131 115 119 125 123 120 140 120 146 122 128 135 116 129 116 138 123 113
 132 120 114 130 142 127  85 123 112  78 107 136 100 123 124 104 133 118
 140 115 130 114 105 101 112 115  98 128 154 127 129 138 124 111 103 158
 146 132  71 116 129 134 123 147 121 125 115 101 109 115 123 122 124 129
 124 142 129 174 103 124 105 105 108 153 133 123 141 116 121 111 102 118
 131 115 147 123 125  99 116 170 104 108  99  97 109 147 105 105 119 103
 117 120 145 124  91 109  79 133 114 128 129  97 176 143 113 150 124 119
 122 112 136 121 150  94 146 124 141 127 103 116 123 129 100 146  84 115
 115  91 112 115 110 117  99 136 130 150  78 116 110 109 113 136 121 117
 166  87 132 137 124 136 117 121 116 139 110 133  81 133 132 132 137  84
 114 167  71 124 155 125 125 115 174 127 113 139 127 112 155 121 129  91
 147 144 128 137 120 112 138 134 126 112 138 110 112 148 119 126 125 136
 127 131 110 123 152 127 139 124 113 119 117 117 121 165 120 137 134 108
 123 141 130 139 130 113  62 120 135 113 126 143 128  98 110 162 116 128
 137 160 112 116 111 126 109 136 124 155 122 113 122 126 110 133 125 164
 133 135 124 122 129  90 128 123 128 120 125 118 116 131 151 137 127 129
 128  85 111 124  72 116  99 144 138 110 129 150 128 115 108 139 136 131
 104 158  99 139 105  89 129 119 114 122 136 112 112 125 130 133 147 109
 135 107 117 118 113 136 148 140 134 120 102  55 123 138 128 159 144 117
 119 105 119 101 105 110  98 127 122 143 110 133 125 114 103 114 169 150
 144 144 143 121 105 134 129 114  97 160  65 145  95 139 123 110 122 117
 108 131 136 125 102 112 135 129 125  73 118 102 120 122 126 145 139 124
 121 126 119 114 118 127 117 137 133 107 125 157 108 130 135 123 100 124
 174 129 128 116 110 129 141 110 118 111 160 120 121 117 158 128 158 163
 128 126 134 140 100 130 137 114  63  98  89 143  99 106 117 112 112 141
 131 132 106 112 139 104 119 123 115 146 128 100 114 126 122 152  84 104
 124 139 102 113 130 116 114 144 138  99 118  97 146 110 135 118 127 132
 113 128 125 117]

In [17]:
import pandas as pd
import numpy as np
data = pd.read_excel('18_M&M.xls')
print(data)

      Red  Orange  Yellow  Brown   Blue  Green
0   0.751   0.735   0.883  0.696  0.881  0.925
1   0.841   0.895   0.769  0.876  0.863  0.914
2   0.856   0.865   0.859  0.855  0.775  0.881
3   0.799   0.864   0.784  0.806  0.854  0.865
4   0.966   0.852   0.824  0.840  0.810  0.865
5   0.859   0.866   0.858  0.868  0.858  1.015
6   0.857   0.859   0.848  0.859  0.818  0.876
7   0.942   0.838   0.851  0.982  0.868  0.809
8   0.873   0.863     NaN    NaN  0.803  0.865
9   0.809   0.888     NaN    NaN  0.932  0.848
10  0.890   0.925     NaN    NaN  0.842  0.940
11  0.878   0.793     NaN    NaN  0.832  0.833
12  0.905   0.977     NaN    NaN  0.807  0.845
13    NaN   0.850     NaN    NaN  0.841  0.852
14    NaN   0.830     NaN    NaN  0.932  0.778
15    NaN   0.856     NaN    NaN  0.833  0.814
16    NaN   0.842     NaN    NaN  0.881  0.791
17    NaN   0.778     NaN    NaN  0.818  0.810
18    NaN   0.786     NaN    NaN  0.864  0.881
19    NaN   0.853     NaN    NaN  0.825    NaN
20    NaN   0.864     NaN    NaN  0.855    NaN
21    NaN   0.873     NaN    NaN  0.942    NaN
22    NaN   0.880     NaN    NaN  0.825    NaN
23    NaN   0.882     NaN    NaN  0.869    NaN
24    NaN   0.931     NaN    NaN  0.912    NaN
25    NaN     NaN     NaN    NaN  0.887    NaN
26    NaN     NaN     NaN    NaN  0.886    NaN